<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359429635326-5504frhh8b3i7hhmp8nmo6kngnpbh4kf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359429635326-5504frhh8b3i7hhmp8nmo6kngnpbh4kf</string>
	<key>API_KEY</key>
	<string>AIzaSyA8A3K4uMTqzJpWBc0RuYobDsBHlHMwiC0</string>
	<key>GCM_SENDER_ID</key>
	<string>359429635326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.updateCheck</string>
	<key>PROJECT_ID</key>
	<string>update-check-c616c</string>
	<key>STORAGE_BUCKET</key>
	<string>update-check-c616c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359429635326:ios:80d090c626a0e707b3b9af</string>
</dict>
</plist>